# http://idratherbewriting.com/learnapidoc/pubapis_openapi_step4_paths_object.html
openapi: "3.0.0"

info:
  title: StoryPlow
  description: "Working API for StoryPlow Submission Management System."
  version: "1.0"
  termsOfService:
  contact:
    name: davidlday
    url: https://www.prosegrinder.com
    email: dday376@gmail.com
  license:
    name: GPL-3.0
    url: https://github.com/davidlday/storyplow-api/LICENSE

servers:
  - url: https://api.prosegrinder.com/storyplow
    description: Production server

paths:
  /publishers:
    get:
      tags:
      - Publishers
      summary: getPublishers
      description: Gets the registered publishers
      operationId: GetPublishers
      externalDocs:
        description: More Details
        url: "https://github.com/davidlday/storyplow-api"
      parameters:
        - name: limit
          in: body
          description: Number of publishers returned
          schema:
            type: integer
            minimum: 5
            maximum: 20
            example: 10
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Publishers'
      # deprecated:
      # security:
      # servers:
      # requestBody:
      # callbacks:

  /markets:
    get:
      tags:
      - Markets
      summary: getMarkets
      description: Gets markets for registered publishers
      operationId: GetMarkets
      externalDocs:
        description: More Details
        url: "https://github.com/davidlday/storyplow-api"
      parameters:
      responses:
      # deprecated:
      # security:
      # servers:
      # requestBody:
      # callbacks:

  /calls:
    get:
      tags:
      - Calls
      summary: getCalls
      description: Gets calls for markets of registered publishers
      operationId: GetCalls
      externalDocs:
        description: More Details
        url: "https://github.com/davidlday/storyplow-api"
      parameters:
      responses:
      # deprecated:
      # security:
      # servers:
      # requestBody:
      # callbacks:

  /submissions:
    get:
      tags:
      - Submissions
      summary: getSubmissions
      description: Gets work submitted to calls
      operationId: GetSubmissions
      externalDocs:
        description: More Details
        url: "https://github.com/davidlday/storyplow-api"
      parameters:
      responses:
      # deprecated:
      # security:
      # servers:
      # requestBody:
      # callbacks:


components:
  schemas:
    Publishers:
      title: publisher
      type: object
      properties:
        id:
          type: string
        publisher name:
          type: string
        ownerId:
          type: string
    Markets:
      title: market
      type: object
      properties:
        id:
          type: string
        publisherId:
          type: string
        name:
          type: string



security:

tags:

externalDocs:
