# http://idratherbewriting.com/learnapidoc/pubapis_openapi_step4_paths_object.html
openapi: "3.0.0"

info:
  title: StoryPlow
  description: "Working API for StoryPlow Submission Management System."
  version: "1.0"
  termsOfService:
  contact:
    name: davidlday
    url: https://www.prosegrinder.com
    email: dday376@gmail.com
  license:
    name: GPL-3.0
    url: https://github.com/davidlday/storyplow-api/LICENSE

servers:
  - url: https://api.prosegrinder.com/storyplow
    description: Production server

paths:
  /publishers:
    get:
      tags:
      - Publishers
      summary: getPublishers
      description: Gets the registered publishers
      operationId: GetPublishers
      externalDocs:
        description: More Details
        url: "https://github.com/davidlday/storyplow-api"
      parameters:
      responses:
        200:
          description: Publishers Response
          content:
            application/json:
              schema:
                description: Success
      # deprecated:
      # security:
      # servers:
      # requestBody:
      # callbacks:

  /markets:
    get:
      tags:
      - Markets
      summary: getMarkets
      description: Gets markets for registered publishers
      operationId: GetMarkets
      externalDocs:
        description: More Details
        url: "https://github.com/davidlday/storyplow-api"
      parameters:
      responses:
      # deprecated:
      # security:
      # servers:
      # requestBody:
      # callbacks:

  /calls:
    get:
      tags:
      - Calls
      summary: getCalls
      description: Gets calls for markets of registered publishers
      operationId: GetCalls
      externalDocs:
        description: More Details
        url: "https://github.com/davidlday/storyplow-api"
      parameters:
      responses:
      # deprecated:
      # security:
      # servers:
      # requestBody:
      # callbacks:

  /submissions:
    get:
      tags:
      - Submissions
      summary: getSubmissions
      description: Gets work submitted to calls
      operationId: GetSubmissions
      externalDocs:
        description: More Details
        url: "https://github.com/davidlday/storyplow-api"
      parameters:
      responses:
      # deprecated:
      # security:
      # servers:
      # requestBody:
      # callbacks:


components:
  schemas:
    Response:

security:

tags:

externalDocs:
